@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$font-family: "Space Mono", monospace;

$font-size: (
  base: 15px,
  sm: 20px,
  m: 24px,
  l: 30px,
);

$line-height: (
  l: 1.5,
  sm: 0.5,
);
