@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$font-family: "Josefin Sans", sans-serif;

$font-size: (
  base: 18px,
  h1: 36px,
);

$font-weight: (
  regular: 400,
  bold: 700,
);

$line-height: (
  l: 1.5,
  sm: 0.5,
);
