@mixin flex-box($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button($color, $bg) {
  color: $color;
  background-color: $bg;
  font-size: 14px;
  border-radius: 12px;
  padding: 12px 28px;
  border: none;
  font-weight: 700;
}
